
<div class="container-fluid">
    <div class="row" id="behind_nav"></div>

    <!-- Logo -->

    <div class="row" id="logo">
        <div class="col-lg-12">
            <img class="img-responsive center-block" src="pics/Logo.png" style="width:30%" />
        </div>
    </div>

    <!-- Get It Done Community-->
    <div class="row">
        <div class="col-lg-12">
            <p class="qtext text-center" style="margin-bottom:-0.45em; text-shadow:none">THE GET IT DONE COMMUNITY</p>
        </div>
    </div>

    <div class="row content" id="content_0">
        <div class="col-lg-12">
            <img class="img-responsive center-block" src="pics/Page_1_(just_images).png" />
        </div>
    </div>

    <!--Who is Jack?-->
    <div class="row question" id="question_1">
        <div class="col-lg-12">
            <p class="qtext text-center">Q: WHO IS JACK?</p>
        </div>
    </div>
    <div class="row answer" id="answer_1">
        <div class="col-lg-12">
            <p class="atext text-center">A: JACK IS WHO YOU CALL WHEN YOU NEED A HAND GETTING SOMETHING DONE</p>
        </div>
    </div>

    <div class="row content" id="content_1">
        <p class="ctext text-center" style="padding-bottom:30px">
            We are a service that connects customers with the growing pool of instantly </br>
            available workers in the sharing economy for the immediate completion of simple tasks.
        </p>
        <div class="col-lg-12">
            <img class="img-responsive center-block" src="pics/Blueprint_Separate.png" />
        </div>
    </div>

    <!-- What can Jack do for me? -->
    <div class="row question" id="question_2">
        <div class="col-lg-12">
            <p class="qtext text-center">Q: WHAT CAN JACK DO FOR ME?</p>
        </div>
    </div>
    <div class="row answer" id="answer_2">
        <div class="col-lg-12">
            <p class="atext text-center">A: ANY SIMPLE TASK YOU WOULD ASK A FRIEND OR PERSONAL ASSISTANT FOR HELP WITH</p>
        </div>
    </div>
    <div class="row content" id="content_2">
        <p class="ctext text-center" style="padding-bottom:30px">
            The right hand for every job
        </p>

        <div id="carousel-example-generic" class="carousel slide center-block" data-ride="carousel" style="max-width:971px;">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <a href="/calljack">
                        <img src="pics/General_Labor.png" alt="...">
                    </a>
                        <div class="carousel-caption">
                            <h3></h3>
                            <p></p>
                        </div>
</div>
                <div class="item">
                    <a href="/calljack">
                        <img src="pics/Cleaning.png" alt="...">
                    </a>
                    <div class="carousel-caption">
                        <h3></h3>
                        <p></p>
                    </div>
                </div>
                <div class="item">
                    <a href="/calljack">
                        <img src="pics/Desk_Work.png" alt="...">
                    </a>
                        <div class="carousel-caption">
                            <h3></h3>
                            <p></p>
                        </div>
</div>
                <div class="item">
                    <a href="/calljack">
                        <img src="pics/Errands.png" alt="...">
                    </a>
                        <div class="carousel-caption">
                            <h3></h3>
                            <p></p>
                        </div>
</div>
                <div class="item">
                    <a href="/calljack">
                        <img src="pics/Roadside_Assistance.png" alt="...">
                    </a>
                        <div class="carousel-caption">
                            <h3></h3>
                            <p></p>
                        </div>
</div>
            </div>



            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <!-- Indicators -->
        <ol class="list-inline text-center">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active">
                <a id="carousel-selector-0", class="selected">
                    <img class="img-responsive active" src="pics/selector_1.png" />
                </a>
            </li>
            <li data-target="#carousel-example-generic" data-slide-to="1">
                <a id="carousel-selector-1">
                    <img class="img-responsive" src="pics/selector_2.png" />
                </a>
            </li>
            <li data-target="#carousel-example-generic" data-slide-to="2">
                <a id="carousel-selector-2">
                    <img class="img-responsive" src="pics/selector_3.png" />
                </a>
            </li>
            <li data-target="#carousel-example-generic" data-slide-to="3">
                <a id="carousel-selector-3">
                    <img class="img-responsive" src="pics/selector_4.png" />
                </a>
            </li>
            <li data-target="#carousel-example-generic" data-slide-to="4">
                <a id="carousel-selector-4">
                    <img class="img-responsive" src="pics/selector_5.png" />
                </a>
            </li>
        </ol>
    </div>

    <!-- How Can I Get Jack?-->
    <div class="row question" id="question_3">
        <div class="col-lg-12">
            <p class="qtext text-center">Q: HOW CAN I GET JACK?</p>
        </div>
    </div>
    <div class="row answer" id="answer_3">
        <div class="col-lg-12">
            <p class="atext text-center">A: WE BUILD IT!</p>
        </div>
    </div>
    <div class="row content" id="content_3">
        <div class="col-lg-12">
            <p class="ctext text-center">
                This is a work in progress<br />
                For the time being, if you have a task, get it done here:
            </p>

             <form class="form-inline text-center" role="form" method="post" action="/register_request">
                <div class="form-group">
                    <label class="sr-only" for="Name">Name</label>
                    <input type="text" class="form-control" id="Name-input" placeholder="Name" style="width:242px">
                    <label class="sr-only" for="Contact">Contact</label>
                    <input type="text" class="form-control" id="Contact-input" placeholder="Contact" style="width:242px">
                </div><br />
                <div class="form-group">
                    <label class="sr-only" for="Job Location">Job Location</label>
                    <input type="text" class="form-control" id="job_location-input" placeholder="Job Location" style="width:490px; margin-top:5px">
                </div><br />
                <div class="row">
                    <div class="col-lg-12">
                        <textarea class="form-control" rows="5" id="job_desc-input" placeholder="What can Jack do for you?" maxlength="132"></textarea>
                        <div class="btn-group-vertical" role="group">
                            <div class="input-group" style="text-align:left">
                                <!--attempt at creating a drop down menu for the database-->
                                <label class="control-label">Want to</label>
                                <select class="form-control">
                                <option>General Labor</option>
                                <option>Cleaning</option>
                                <option>Personal</option>
                                <option>Errands</option>
                                <option>Roadside Assistance</option>
                                </select>
                                <!--<div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios-input" id="optionsRadios1" value="General" checked>
                                        General Labor
                                    </label>
                                </div><br />
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios-input" id="optionsRadios2" value="Cleaning">
                                        Cleaning & Organization
                                    </label>
                                </div><br />
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios-input" id="optionsRadios3" value="Personal">
                                        Personal Assistance
                                    </label>
                                </div><br />
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios-input" id="optionsRadios4" value="Errands">
                                        Errands
                                    </label>
                                </div><br />
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios-input" id="optionsRadios5" value="Roadside Assistance">
                                        Roadside Assistance
                                    </label>
                                </div><br />-->
                            </div>
                        </div>
                    </div>
                </div><br />
                <div>
                    <button class="btn btn-success" type="submit" id="getitdone-btn">Get It Done</button>
                </div>

                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4" id="response_field"></div>
                </div>

                <script type="text/javascript">
                $('#getitdone-btn').click(function( e ){
                    e.preventDefault();

                    var data = {};
                    data['name'] = $('#Name-input').val();
                    data['contact'] = $('#Contact-input').val();
                    data['job_location'] = $('#job_location-input').val();
                    data['job_desc'] = $('#job_desc-input').val();

                    if($('#optionsRadios1').attr("checked", "checked")){
                        data['job_type'] = $('#optionsRadios1').val();
                    } 
                    else if($('#optionsRadios2').attr("checked", "checked")){
                        data['job_type'] = $('#optionsRadios2').val();
                    } 
                    else if($('#optionsRadios3').attr("checked", "checked")){
                        data['job_type'] = $('#optionsRadios3').val();
                    } 
                    else if($('#optionsRadios4').attr("checked", "checked")){
                        data['job_type'] = $('#optionsRadios4').val();
                    } 
                    else if($('#optionsRadios5').attr("checked", "checked")){
                        data['job_type'] = $('#optionsRadios5').val();
                    } 

                    $.post('/register_request', data, function(res){
                        if( res == "success") {
                            $("#response_field").html("<h3>Thanks!</h3>");
                            $("#getitdone-btn").attr("disabled","disabled");
                        } else {
                            $("#response_field").html("<h3>Something went wrong :(</h3>");
                        }
                    });
                });
                </script>

            </form>

            <p class="ctext text-center">
                Imagine the possibilities if this was a complete app.<br />
                Scores of people ready and willing to help.<br />
                Responsive in real time.<br />
                Instantly Useful.
            </p>
        </div>
    </div>


    <div class="row question" id="question_4">
        <div class="col-lg-12">
            <p class="qtext text-center">Q: HOW CAN I HELP?</p>
        </div>
    </div>
    <div class="row answer" id="answer_4">
        <div class="col-lg-12">
            <p class="atext text-center">A: HOWEVER YOU CAN</p>
        </div>
    </div>
    <div class="row content" id="content_4">
        <!--Forms-->
        <form class="form-inline">

            <div class="form-group">
                <label class="control-label" for="Name">Name</label>
                <input type="text" class="form-control" id="Name" placeholder="Name">
            </div>

            <div class="form-group">
                <label class="control-label" for="Email">Email Address</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email">
            </div>
            <label class="control-label">Want to</label>
            <select class="form-control">
                <option>share your thoughts?</option>
                <option>become a Jack?</option>
                <option>Want to stay up to date?</option>
                <option>help build the damned thing?</option>
                <option>invest?</option>
            </select>
        </form>
        <div class="row">
            <div class="col-lg-12"><textarea class="form-control" rows="3" placeholder="Share your thoughts"></textarea></div>
        </div>
        <div>
            <input class="btn btn-default" type="submit" value="Get to know Jack">
        </div>
    </div>
<div class="row question" id="question_5"></div>
</div>