<!DOCTYPE html>
<html>
  <head>

    <link href='http://fonts.googleapis.com/css?family=Bevan' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!--JQuery-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script> <!--Validator-->
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="js/bootstrap.js"></script>

    <script src="js/jack.js"></script>

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/dependants/window_1200.css">
    <link rel="stylesheet" href="css/dependants/window_992.css">
    <link rel="stylesheet" href="css/dependants/window_768.css">

    <title>Jack!</title>
    
    <meta charset="utf-8" />

  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#behind_nav">
                    <img alt="Brand" src="pics/J.png">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav nav-tabs nav-justified">
                    <li class="navbar-text"><a href="#question_1">ABOUT</a></li>
                    <li class="navbar-text"><a href="#question_2">GET IT DONE</a></li>
                    <li class="navbar-text"><a href="#question_3">DOWNLOAD</a></li>
                    <li class="navbar-text"><a href="#question_4">HELP OUT</a></li>
                </ul>
            </div>
        </div>
    </nav>

    {{{body}}}
  </body>
</html>
